lahari_233_webexam/jokes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="jokes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="joke_category" type="xs:string" maxOccurs="unbounded" />
                <xs:element name="joke" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>